<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-2" data-aos="fade-up" data-aos-delay="200">
    I’m Gaurav Nishad, a passionate Full Stack Developer and I enjoy building scalable web applications, solving
    real-world problems, and continuously improving my technical skills. With hands-on experience in the MERN stack,
    Python, and MySQL, I bring both creativity and discipline to every project. My adaptability, teamwork, and
    problem-solving mindset help me thrive in fast-paced environments. I believe in learning by doing and love
    contributing to projects that make a meaningful impact.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    I am also comfortable working in remote and work-from-home environments, ensuring productivity through clear
    communication and time management. I value collaboration tools and online teamwork as much as in-person work. This
    flexibility allows me to contribute effectively from anywhere while maintaining a strong focus on results.
  </p>
</section>
